<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <quantity_ranges>
                <ranges>10</ranges>
            </quantity_ranges>
        </general>
    </default>
</config>
